.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  text-decoration: none;
}

.menuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.3s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

/*TimerIcon é um svg, entçao para estilizarmos o ícone, basta usar o termo svg após o seu seletor, no caso o menuLink*/

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
