.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}
.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--warning);
}
.workTime {
  background-color: var(--warning);
}
.shortBreakTime {
  background-color: var(--success);
}
.longBreakTime {
  background-color: var(--info);
}
